@use '../../partials/mixin' as *;
@use '../../partials/typography' as *;
@use '../../partials/colors' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}
.side-drawer {
  @include tablet {
    display: none;
  }
}
ul {
  padding-left: 20px;
  list-style-type: none;
}
a {
  font-family: "Avenir Next LT Pro Bold";
}
