@use '../../partials/mixin' as *;
@use '../../partials/typography' as *;
@use '../../partials/colors' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thumbs-wrapper {
  display: none;
}
