@use '../../partials/mixin' as *;
@use '../../partials/typography' as *;
@use '../../partials/colors' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.recipe__page {
  display: flex;
  flex-direction: column;
  &-header {
    padding: 20px 8px;
    font-family: "Dancing Script Bold";
    @include typeKit(1.3rem, 600, 0, $black_color, 0);
  }
  @include tablet {
    display: flex;
    align-items: center;
    //width: 70%;
  }
}
.recipe__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  @include tablet {
    min-width: 60vw;
  }
  @include desktop {
    min-width: 40vw;
  }
}
.recipe__form-buttons {
  display: flex;
  align-self: flex-end;
  margin: 20px 0;
}
.recipe__form-button--upload,
.recipe__form-button--cancel {
  width: 139px;
  height: 36px;
  background-color: $med_blue;
  border-radius: 20px;
  border: 1px solid $light_gray;
  color: $white_color;
  margin-left: 20px;
}
.recipe__form-name--input,
.recipe__form-country--input,
.recipe__form-image--input,
.recipe__form-description--input,
.recipe__form-ingredients--input {
  width: 100%;
  border-radius: 20px;
  height: 36px;
  border: 1px solid $med_dark_blue;
  padding: 8px 0 8px 16px;
  box-sizing: border-box;
}
