@use '../../partials/mixin' as *;
@use '../../partials/typography' as *;
@use '../../partials/colors' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search__box-input {
  background-image: url(../../assets/icons/Icon-search.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 17px;
  padding: 13px 36px;
  margin: 0 16px 16px;
  // min-width: 100%;
  border-radius: 4px;
  height: 48px;
  //width: 94vw;
  max-width: 100%;
  //margin: 0 16px;
  border: 1px solid $light_gray;
  //   @include tablet {
  //     position: relative;
  //     left: 55vw;
  //     bottom: 3px;
  //   }
  //   @include desktop {
  //     position: relative;
  //     left: 52vw;
  //     width: 17vw;
  //   }
}
