@use "../../partials/mixin" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.recipe__wrapper__images {
  min-width: 400px;
  height: 350px;
  border-radius: 15px;
}
.recipe {
  display: flex;
  justify-content: flex-start;
  &__wrapper {
    padding: 20px;
    background-color: $white_color;
    border: 1px solid $light_gray;
    margin: 16px;
    border-radius: 15px;
  }
}
.profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
